.show-time {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    /*align-content: center;*/
    justify-content: space-around;
    margin: 5px auto;
    padding: 5px;
    cursor: pointer;
}

.flex-col-container{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dark-mode {
    background-color: midnightblue;
    color: antiquewhite;
    border: 3px solid antiquewhite;
}

.bright-mode {
    background-color: antiquewhite;
    color: midnightblue;
    border: 3px solid midnightblue;
}

.season-img, .time-display {
    margin: 5px auto;
    /*Disable image select (it changes the background of the image):*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.time-display {
    height: 38px;
    text-align: center;
}

.season-img {
    background-image: url("../img/seasons.png");
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.winter {
    background-position: 1% 48%;
}

.spring {
    background-position: 33% 60%;
}

.summer{
    background-position: 65% 60%;
}

.fall {
    background-position: 97% 42%;
}