<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div id="app">
        <show-time
            v-bind:timerdone="isCounterDone"
            >
        </show-time>
        <count-down
            v-bind:timeout="COUNTDOWN"
            v-on:counter-done="counterDone"
            >
        </count-down>
    </div>

    <script src="lib/vue.js"></script>
    <script type="module" src="js/main.js"></script>
</body>

</html>









<!--<my-counter v-on:increase="updateTotal"></my-counter>-->
<!--<my-counter v-on:increase="updateTotal"></my-counter>-->
<!--<h1>Total: {{total}}</h1>-->

<!--<div v-for="currUser in users">-->
<!--    <user-details  v-bind:user="currUser"></user-details>-->
<!--</div>-->


<!--<h1>{{ message }}</h1>-->
<!--<h1>{{ reversedMessage }}</h1>-->
<!--<input type="text" v-model="message" />-->

<!--<section>-->
<!--    <h3>Todos</h3>-->
<!--    <ul>-->
<!--        <li v-for="(todo, i) in todos" v-on:click="toggleTodo(todo)" v-bind:class="{'todo-done' : todo.isDone}">-->
<!--            {{i+1}} {{todo.txt}}-->
<!--            <button v-on:click="deleteTodo($event, i)">x</button>-->
<!--        </li>-->
<!--    </ul>-->
<!--</section>-->


<!--<button v-on:click="handleClick">Show more</button>-->
<!--<section class="more-info" v-if="shouldShowMoreInfo">-->
<!--    <h1>More Info</h1>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum vitae! Dolores magni vitae-->
<!--        dolor voluptas provident consequuntur, porro ducimus? Ut atque totam provident! Aut quidem voluptatem-->
<!--        accusamus provident ad.</p>-->
<!--</section>-->